[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = ">=2.8,<2.9"
Django = ">=3.0"
requests = "*"
pyyaml = "*"
ipython = "*"
jokekappa = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.8"
